---
layout: default
title: praxis
categories: home
---
<h1>{{site.title}}</h1>
<h3>{{site.description}}</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, at laudantium, voluptatum nulla cupiditate laborum omnis? Cum libero quisquam obcaecati.</p>
<p>Quo laborum sit non, sed cum alias soluta quae, dolorum nisi libero eaque est quibusdam similique ab nulla dignissimos dicta?</p>

<div class="row">
	<ul class="col-sm">
		<li><h3>Studies</h3></li>
		{% for post in site.posts %}
		{% if post.categories contains 'study' and post.status contains 'public' %}

		<li>
			<a href="{{ post.url }}">{{ post.title }}
			</a>
			<p>{{ post.description }}</p>
		</li>
		{% endif %}
		{% endfor %}
	</ul>

	<ul class="col-sm">
		<li><h3>Recipes</h3></li>
		{% for post in site.posts %}
		{% if post.categories contains 'recipe' and post.status contains 'public' %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}
			</a>
			<p>{{ post.description }}</p>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<ul class="col-sm">
		<li><h3>Processing</h3></li>
		{% for post in site.posts %}
		{% if post.categories contains 'processing' and post.status contains 'public' %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}
			</a>
			<p>{{ post.description }}</p>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<ul class="col-sm">
		<li><h3>Notes</h3></li>
		{% for post in site.posts %}
		{% if post.categories contains 'note' and post.status contains 'public' %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}
			</a>
			<p>{{ post.description }}</p>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<ul class="col-sm">
		<li><h3>Projects</h3></li>
		{% for post in site.posts %}
		{% if post.categories contains 'project' and post.status contains 'public' %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}
			</a>
			<p>{{ post.description }}</p>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>