---
layout: default
title: home
categories: home
---
<div class="row grid">


<!-- 	<div class="col-sm links">
		<h3>Projects</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'project' and post.status contains 'public' %}

		
			<a href="{{ post.url }}"  class="post">
				<p class="title">{{ post.title }}</p>
				<p class="description">{{ post.description }}</p>
			</a>


		{% endif %}
		{% endfor %}
	</div> -->
	<div class="col-sm links">
		<h3>About</h3>
	pending
	</div>
	<div class="col-sm links">
		<h3>Books</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'books' and post.status contains 'public' %}

		
			<a href="{{ post.url }}"  class="post">
				<p class="title">{{ post.title }}</p>
				<p class="description">{{ post.description }}</p>
			</a>


		{% endif %}
		{% endfor %}
	</div>
	
	<div class="col-sm links">
		<h3>Illustrations</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'illustrations' and post.status contains 'public' %}

		
			<a href="{{ post.url }}"  class="post">
				<p class="title">{{ post.title }}</p>
				<p class="description">{{ post.description }}</p>
			</a>


		{% endif %}
		{% endfor %}
	</div> 
	<div class="col-sm links">
		<h3>Studies</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'study' and post.status contains 'public' %}
		
			<a href="{{ post.url }}"  class="post">
				<p class="title">{{ post.title }}</p>
				<p class="description">{{ post.description }}</p>
			</a>

		{% endif %}
		{% endfor %}
	</div> 
<!-- 		<div class="col-sm links">
		<h3>Processing</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'processing' and post.status contains 'public' %}
		
			<a href="{{ post.url }}"  class="post">
				<p class="title">{{ post.title }}</p>
				<p class="description">{{ post.description }}</p>
			</a>

		{% endif %}
		{% endfor %}
	</div>  -->

</div>
