---
layout: default
title: home
categories: home
---
<div class="row grid">
	<div class="col-sm links">
		<h3>Studies</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'study' and post.status contains 'public' %}
		<div class="post">
			<a href="{{ post.url }}">{{ post.title }}</a>
			<p class="description">{{ post.description }}</p>
		</div>

		{% endif %}
		{% endfor %}
	</div>

	<div class="col-sm links">
		<h3>Projects</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'project' and post.status contains 'public' %}

		<div class="post">
			<a href="{{ post.url }}">{{ post.title }}</a>
			<p class="description">{{ post.description }}</p>
		</div>


		{% endif %}
		{% endfor %}
	</div>
	<div class="col-sm links">
		<h3>Notes</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'note' and post.status contains 'public' %}

		<div class="post">
			<a href="{{ post.url }}">{{ post.title }}</a>
			<p class="description">{{ post.description }}</p>
		</div>


		{% endif %}
		{% endfor %}
	</div>

	<div class="col-sm links">
		<h3>Processing</h3>
		{% for post in site.posts %}
		{% if post.categories contains 'processing' and post.status contains 'public' %}

		<div class="post">
			<a href="{{ post.url }}">{{ post.title }}</a>
			<p class="description">{{ post.description }}</p>
		</div>


		{% endif %}
		{% endfor %}
	</div> 

</div>
