---
layout: play
title: stars
slug: stars
categories: play
status: public
description: testing
date: 2020-01-29 18:03:16 -0500
permalink: /:categories/:slug/
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam libero culpa placeat nisi doloribus distinctio impedit quia, quisquam! Adipisci, dolores!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, consectetur ea dolorem quia mollitia soluta inventore quod tempore numquam obcaecati?</p>
<p>Fuga minus, cupiditate vitae totam maxime eos, commodi quibusdam ratione voluptatum. Quaerat qui exercitationem optio, praesentium perferendis aperiam! Vitae, maxime?</p>
<p>Vitae temporibus eligendi cupiditate necessitatibus autem architecto. Sunt doloribus velit optio dolorem ratione quis odit libero. Quos quaerat ratione atque.</p>
<p>Cupiditate ipsa animi id impedit ipsum assumenda quis, minus, dolor, iste, dolores iusto. Quos dolores qui aperiam commodi delectus expedita.</p>
<p>Amet iusto dolor culpa quod, necessitatibus natus facilis dolores cupiditate reiciendis earum accusantium optio ipsum nulla cum quam, eos porro!</p>
<p>Libero esse omnis culpa, cupiditate exercitationem aliquid non rem odit perspiciatis mollitia, iste assumenda nulla ipsa, recusandae ut. Nobis, sint.</p>
<p>Omnis adipisci id, placeat quo dolor mollitia deleniti dicta vitae, culpa cum pariatur maiores odit iste possimus rem aliquam repellat?</p>
<p>Eveniet qui, corrupti. Id voluptatibus aspernatur, commodi amet sint ratione perferendis voluptatem laboriosam culpa atque ipsam accusamus, architecto saepe. Commodi!</p>
<p>Qui aut vero sint vitae est, voluptatum quidem, at, distinctio accusamus cum consequuntur. Impedit pariatur odio, ut at accusamus aliquid.</p>
<p>Alias non fugit culpa praesentium odio, necessitatibus sequi saepe et, laborum recusandae reprehenderit inventore odit commodi minus incidunt, quaerat consequuntur!</p>
<p>Dolor, ut temporibus perferendis officia asperiores voluptatum iure libero, at nostrum earum vel eaque quis reprehenderit expedita deserunt quisquam adipisci?</p>
<p>Voluptatibus esse dolorum nisi perspiciatis modi porro eveniet ea at tempora. Neque quisquam totam doloribus quod quos laudantium ipsum, praesentium?</p>
<p>Dicta libero saepe et fuga? Doloremque expedita, corporis perspiciatis eligendi rem nemo. Officiis voluptatum, laborum consectetur incidunt voluptatibus porro perspiciatis.</p>
<p>Quis sit obcaecati pariatur. Distinctio laboriosam impedit saepe pariatur, laudantium magnam temporibus, animi doloremque, explicabo eum aperiam assumenda similique, ducimus!</p>
<p>Assumenda ea, nobis architecto blanditiis voluptatibus ad in dolorum libero earum consectetur rerum sed aut tempore ipsam perspiciatis consequatur? Vitae!</p>
<p>Eos recusandae, dignissimos magnam blanditiis maiores architecto in voluptatibus rerum nostrum inventore voluptates molestiae illo nesciunt? Voluptatem animi rerum fugit!</p>
<p>Dolor possimus harum distinctio iusto ipsum nam provident temporibus quaerat aut sint earum minima ea fugiat iure dolores doloremque, nemo?</p>
<p>Voluptatum, tenetur rem quis et reprehenderit quia nam omnis sequi laudantium commodi harum recusandae vel, quos optio temporibus quibusdam labore.</p>
<p>Dignissimos autem porro doloribus aliquam, aut ea eveniet aliquid illum repudiandae id animi velit vero. Alias fugiat, veniam ratione iusto.</p>
<p>Placeat, maxime nesciunt! Molestias molestiae, harum fugiat velit. Aliquam neque quia explicabo delectus aliquid pariatur a praesentium voluptas sint debitis.</p>
<p>Quisquam molestiae sequi vero quod at. Non, necessitatibus saepe earum pariatur fugit soluta ipsa, ea, eligendi possimus doloremque dolores, iure!</p>
<p>Facere at in placeat aperiam, expedita totam nisi tempora, et dolorem, itaque quisquam blanditiis repellat similique possimus architecto aliquid magni?</p>
<p>Fugit, eaque, veritatis. Minima dolorem iste, quibusdam reprehenderit enim. Esse ex eos explicabo dicta ducimus beatae, perspiciatis aliquam rem culpa!</p>
<p>Optio quo, quibusdam non, animi repudiandae beatae facilis magnam provident! Molestias culpa, ab amet dicta quis explicabo expedita consectetur temporibus?</p>
<p>Ea repellendus quasi porro, blanditiis sequi nostrum expedita nihil eius ut optio, vero nemo magnam ad! Maiores quae fugit eius.</p>
<p>Ex aperiam cupiditate hic molestias at aliquam facilis sed quibusdam repudiandae adipisci minus, est doloribus ut deleniti aspernatur aut quaerat.</p>
<p>Totam deserunt similique consectetur. Omnis corporis aliquam, optio accusamus commodi veritatis iure vero enim nostrum odit, distinctio in reprehenderit molestias.</p>
<p>Voluptas vitae fugiat veritatis expedita iste rem, beatae praesentium magni? Distinctio ipsum, explicabo ex doloribus voluptatum saepe eveniet magni! Soluta.</p>
<p>Delectus tempore repudiandae, beatae mollitia ex sit voluptatum optio vitae sunt qui. Eos rerum ad cumque tempore, similique doloribus distinctio.</p>
<p>Iusto rerum quas voluptatum unde repellat. Quas repellat tenetur architecto illum, unde, nesciunt quis maxime, explicabo sed modi, reiciendis aliquid.</p>
<p>Numquam sed ipsam impedit nemo, natus. Reiciendis optio expedita, architecto tempora? Itaque veritatis quae sed, necessitatibus ad eaque accusantium fuga.</p>
<p>Perferendis a eveniet doloremque labore fuga, maiores omnis ea provident iure ab, porro saepe veniam! Suscipit debitis, quod aspernatur unde.</p>
<p>Quisquam atque voluptatem ratione, eos, repellendus magnam debitis sequi delectus repudiandae? Illum debitis ipsa, exercitationem harum sapiente ex aliquid ad!</p>
<p>Iusto soluta consequatur, nam modi in, amet numquam, eius recusandae sit nihil autem, ullam incidunt. Temporibus nobis sunt nam porro.</p>
<p>Consequatur saepe doloribus exercitationem error? Impedit, velit autem facere rerum aperiam cupiditate beatae at minus hic reiciendis deserunt saepe nemo?</p>
<p>Commodi sapiente saepe expedita ea hic veritatis quisquam unde quis deleniti, minima delectus sed placeat, magnam dolores vitae rerum, error.</p>
<p>Excepturi illum esse, hic debitis at reprehenderit est, a voluptas vitae modi error? Adipisci tempore corporis ipsum accusamus, accusantium placeat.</p>
<p>Laudantium accusamus numquam optio earum nulla corporis, velit assumenda, eius suscipit at, ipsam saepe quis possimus vitae non vero amet!</p>
<p>Tempora reiciendis optio quisquam accusamus aliquam, odit voluptatibus aspernatur placeat veritatis totam voluptate magnam repellendus doloribus aperiam nisi ducimus laudantium?</p>
<p>Sed magnam voluptatibus ipsa cupiditate officiis voluptates, dolores eos nostrum suscipit aut laudantium nobis excepturi exercitationem id est cum tenetur!</p>
<p>Nobis quos dolorem assumenda harum at modi aperiam earum laboriosam dolore nemo repellendus distinctio ipsum laudantium ducimus, aliquid eum aut.</p>
<p>Ut dolores explicabo, delectus modi eligendi voluptatum consequuntur quasi alias repellat a ipsa dolorem ducimus aliquid omnis! Reprehenderit, architecto tempore.</p>
<p>Incidunt, corporis provident sed? Architecto, temporibus. Quis ipsa distinctio eligendi alias. Assumenda quis iste, molestias ut reiciendis iusto aperiam ea.</p>
<p>Quibusdam possimus ab aperiam numquam expedita dolore voluptates at explicabo ipsa consequuntur, nulla quidem autem animi fugiat incidunt, eaque cupiditate.</p>
<p>Tenetur quasi dignissimos ducimus laborum. Amet, sint vero incidunt vitae cum beatae iste quaerat ad possimus doloremque dolore suscipit itaque!</p>
<p>Aliquam dignissimos facere dolores deleniti qui quasi id. Eos eveniet consequuntur aspernatur quae dicta hic ab neque molestias, quaerat rerum?</p>
<p>Deserunt fuga animi quod et illo dolorum, necessitatibus adipisci doloribus repellendus odio optio autem qui, quisquam, cumque natus esse nobis!</p>
<p>Cumque, accusantium. Soluta non, nisi officia nobis ea vel nulla labore odio, dicta quasi quisquam magnam quia laboriosam ducimus? Molestiae!</p>
<p>Eius quia amet maxime odit cumque aut, placeat modi, reiciendis alias aliquid nihil repellat soluta perspiciatis optio qui consectetur officia!</p>
<p>Reiciendis, optio, saepe. Nostrum eligendi, ipsa nemo recusandae ex iste molestias possimus sint aliquam, dicta fugit, deserunt sed, voluptates facere!</p>
<p>Nostrum, perferendis. Veniam ducimus facere, alias voluptates vitae, impedit optio laudantium perspiciatis nesciunt fuga magnam dolore illo ad deserunt totam!</p>
<p>A perspiciatis, quo natus et similique cum voluptas mollitia dolor dicta obcaecati eveniet impedit quos quisquam porro assumenda maxime quidem?</p>
<p>Expedita numquam, libero laboriosam iure omnis architecto beatae obcaecati unde esse asperiores repudiandae. Cupiditate autem fugit itaque delectus, hic veniam!</p>
<p>Quia sint debitis, consectetur dolorem molestiae maxime magnam hic, dolor reprehenderit natus eum obcaecati, nisi ad amet nemo et. Mollitia?</p>
<p>Voluptatem quibusdam perferendis et natus reprehenderit, rem esse vero quas, nostrum sit? Quasi blanditiis distinctio praesentium necessitatibus, officiis dolorum reprehenderit.</p>
<p>Voluptatem explicabo, fugit nostrum dicta excepturi ex nulla voluptatibus maiores placeat dolorum qui molestiae necessitatibus earum enim aperiam, repellat iure.</p>
<p>Doloribus temporibus illo hic adipisci laboriosam animi numquam blanditiis, alias nostrum, fugit cumque ex amet maiores veniam vero! Commodi, officia.</p>
<p>Aliquid voluptas at ipsam reiciendis, iusto enim totam provident esse recusandae quod voluptatem fugit dolores ratione, ipsa sunt repellat odit.</p>
<p>Iusto dicta impedit quis commodi vitae officiis suscipit cupiditate in architecto nemo delectus consequuntur, soluta quidem quos unde maiores, sit.</p>
<p>Quia fugit qui, accusamus ducimus ratione maxime corporis impedit. Ipsam magnam modi consequuntur consectetur at. Doloremque omnis nam rem adipisci!</p>
{% include play/fullscreen.html %}
	{% include play/stars.html %}
	<script>
		function setup() {
			createCanvas(windowWidth, windowHeight)
			console.log('The faculty of 5 is 1*2*3*4*5 = ' + faculty(5))
		}
		function faculty(theValue) {
			var result = 1
			for (var i = 1; i <= theValue; i++) {
				result = result * i
			}
			return result
		}

		function draw() {
			background(125)
			ellipse(50, 50, 50, 50)
			push()
			star(30, 20, 10, 3)
			star(50, 40, 15, 3)
			star(40, 70, 12, 3)
			translate(100, 60)
			star(30, 20, 10, 3)
			star(50, 40, 8, 3)
			star(40, 70, 7, 3)
			translate(20, -60)
			star(30, 20, 15, 3)
			star(50, 40, 10, 3)
			star(40, 70, 12, 3)
			pop()
		}


	</script>