	<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/p5.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/p5.dom.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/p5.sound.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/modernizr.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/detectizr.js' | prepend: site.baseurl}}"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
    $('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false, content: '<div class="red">Coming March 2014</div>'})
    .on("mouseenter", function () {
      var _this = this;
      $(this).popover("show");
      $(".popover").on("mouseleave", function () {
        $(_this).popover('hide');
      });
    }).on("mouseleave", function () {
      var _this = this;
      setTimeout(function () {
        if (!$(".popover:hover").length) {
          $(_this).popover("hide");
        }
      }, 300);
    });
		new WOW({
                      boxClass:     'wow',      // default
                      animateClass: 'animated', // default
                      offset:       0,          // default
                      mobile:       true,       // default
                      live:         true        // default
                  }
                  ).init();

              </script>
              <script>
              	$(".col-sm.links").hover(
              		function () {
              			$("body").addClass("test");
              		},
              		function () {
              			$("body").removeClass("test");
              		}
              		);
              	</script>