@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Light, 
	$weight: normal, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Regular, 
	$weight: bold, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

body {
	padding: $gap6;
	font-family: Space Grotesk;
	@include linear-gradient(130deg, #ffffff, #ECE9E6);
	background-repeat: no-repeat;
	background-attachment: fixed;
	@include transition;
	// &.test {
	// 		@include linear-gradient(140deg, #ffffff, #ccc);
	// }
}


.divider {
	margin: $gap3 0;
}

.row.grid {
	grid-gap: 0;

}
header.header {
	h1, h2, h3, h4, h5 {
		padding: 0;
		margin: 0;

	}


}


h1, h2, h3, h4, h5 {
	font-weight: bold;
}
h1, h2, h3, h4, h5, p {
	margin-bottom: $gap;
}

.wow {
	@include fadeInUp;
}




.post {
	display: block;
	overflow: hidden;
	p {
		margin: 0;
	}
	html.no-touch & {
		p {
			&.description {
				height: 1px;
				overflow: hidden;
				@include transition;
			}
		}
		&:hover {
			p {
				&.description {
					height: 30px;
					overflow: none;
				}
			}
		}
	}
	

}



del {
	color: #999;
	text-decoration: none !important;
	&:before {
		content: "done";
		background-color: #ccc;
		color: white;
		padding: 3px 7px;
		font-weight: bold;
		margin-right: 5px;
		@include radius(2px);
	}
}



a {
	color: black;
	background-color: $link;
	@include transition;

	&:hover {
		color: black;
		text-decoration: none;
		background-color: $hover;
	}
	.links & {
		background: none !important;
		.title {
			@include transition;
			background-color: $link;
			display: inline;
		}
		&:hover {
			background: none !important;
			.title {
				background-color: $hover;
				
			}
		}
	}
}


img {
	width: 100%;
}

table {

	width: 100%;
	margin: $gap3 0;
	img {
		width: 200px;
	}
	tr {
		border-bottom: solid 1px #ccc;
		&:first-of-type {
			border-top: solid 1px #ccc;
		}
	}
	td, th {
		padding: $gap2 $gap;
	}
}

blockquote {
	border-left: solid 5px #ccc;
	padding-left: $gap2;
	font-size: 150%;
	width: 50%;
	margin: $gap2 0;
}