@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Light, 
	$weight: normal, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Regular, 
	$weight: bold, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(RenoMono, 
	$path: "/assets/fonts/");

body {
	padding: $gap6;
	font-family: Space Grotesk;
	

	@include transition;
}

.backgrounds {
	* {
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: fixed;
		top: 0;
		left:0;
		width:100%;
		height:100vh;
		z-index:-1;
		@include transition;
	}
	.noise {
		background-image: url(/assets/images/Grainy_Overlay_2_Dense.png);
		-webkit-filter: invert(100%);
		filter: invert(100%);
		background-repeat: repeat;
		background-size: cover;
	}
	.home {
		@include linear-gradient(320deg, #abbaab, white);
	}
	.study {
		@include linear-gradient(160deg, white, #fbd786);
	}
	.project {
		@include linear-gradient(0deg, #D3CCE3, #E9E4F0, white);
	}
	.illustrations {
		@include linear-gradient(0deg, #f12711, #f5af19);
	}
	.note {
		@include linear-gradient(190deg, white, white, #ACBB78);
	}
	.processing {
		@include linear-gradient(320deg, #dae2f8, #d6a4a4);
	}
	.external {
		@include linear-gradient(0deg, #fdfcfb, #e2d1c3);
	}
}

body .backgrounds * {
	@include opacity(0);
}

.figma {
	border: none;
	padding: $gap 0;
	width: 100%;
	height: 500px;
}

body.illustrations .backgrounds .noise {
	@include opacity(40);
}

body .backgrounds .noise,
body.home .backgrounds .home,
body.study .backgrounds .study,
body.project .backgrounds .project,
body.note .backgrounds .note,
body.illustrations .backgrounds .illustrations,
body.processing .backgrounds .processing,
body.external .backgrounds .external {
	@include opacity(100);
}
body.external .backgrounds *:not(.external) {
	@include opacity(0);
}

.divider {
	margin: $gap3 0;
}

.row.grid {
	grid-gap: 0;

}
header.header {
	h1, h2, h3, h4, h5 {
		padding: 0;
		margin: 0;

	}


}


h1, h2, h3, h4, h5 {
	font-weight: bold;
}
h1, h2, h3, h4, h5, p {
	margin-bottom: $gap;
}

.wow {
	@include fadeInUp;
}




.post {
	display: block;
	overflow: hidden;
	p {
		margin: 0;
	}
	html.no-touch & {
		p {
			&.description {
				height: 1px;
				overflow: hidden;
				@include transition;
			}
		}
		&:hover {
			p {
				&.description {
					height: 30px;
					overflow: none;
				}
			}
		}
	}
	

}



code.highlighter-rouge, pre.highlight code {
	padding: 2px $gaphalf 0 $gaphalf;
	font-family: RenoMono;
	background-color: #fff;
	font-size: 16px;
	display: inline-block;
	color: #333;
	
}

pre.highlight, code.highlighter-rouge {

	border: solid 1px #ccc;
}

pre.highlight {
	padding: $gap $gaphalf;
	background-color: #fff;

	code {
		display: block;
	}

}

li {
	del {
		a {
			background-color: #fff;
			color: #999;
		}
		color: #999;
		& ~ .highlighter-rouge {
			font-family: Space Grotesk;
			background-color: #ccc;
			color: white;
			display: inline-block;
			margin-left: 5px;
			padding: 2px 7px 0 7px;
			font-size: 12px;
			font-weight: bold;
			@include radius(2px, regular);
			&:before {
				padding-right: 0;
				displaY: inline-block;
				content: "DONE:";
				padding-right: 5px;
			}
		}
	}
}


a {
	color: black;
	background-color: $link;
	@include transition;
	&:hover {
		color: black;
		text-decoration: none;
		background-color: $hover;
	}
	.links & {
		background: none !important;
		.title {
			@include transition;
			background-color: $link;
			display: inline;
		}
		&:hover {
			background: none !important;
			.title {
				background-color: $hover;
				
			}
		}
	}

}


img, .wireframe svg {
	width: 100%;
	height: auto;
}

table {

	width: 100%;
	margin: $gap3 0;
	img {
		width: 200px;
	}
	tr {
		border-bottom: solid 1px #ccc;
		&:first-of-type {
			border-top: solid 1px #ccc;
		}
	}
	td, th {
		padding: $gap2 $gap;
	}
}

blockquote {
	border-left: solid 5px #ccc;
	padding-left: $gap2;
	font-size: 120%;
	width: 70%;
	margin: $gap2 0;
}


canvas {
	width: 100%;
}

$gallery-cols: 4;
$gallery-gap: 3px;
$gallery-radius: 3px;

.gallery {
	line-height: 0;
	-webkit-column-count: $gallery-cols;
	-webkit-column-gap:   $gallery-gap;
	-moz-column-count:    $gallery-cols;
	-moz-column-gap:      $gallery-gap;
	column-count:         $gallery-cols;
	column-gap:           $gallery-gap;  
	@media (max-width: 1000px) {
		-moz-column-count:    ($gallery-cols - 1);
		-webkit-column-count: ($gallery-cols - 1);
		column-count:         ($gallery-cols - 1);
	}
	@media (max-width: 800px) {
		-moz-column-count:    ($gallery-cols - 2);
		-webkit-column-count: ($gallery-cols - 2);
		column-count:         ($gallery-cols - 2);
	}
	@media (max-width: 500px) {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
	img {
		width: 100% !important;
		height: auto !important;
		margin-bottom: $gallery-gap;
		@include transition;
		cursor: pointer;

		@include radius($gallery-radius);
		&:hover {
			@include scale(1.4);
			z-index: 1000;
		}
// 		&:nth-of-type(1) {
// 	@include fadeInUp($delay: $delay * 1);
// }
// 		&:nth-of-type(2) {
// 	@include fadeInUp($delay: $delay * 2);
// }
// 		&:nth-of-type(3) {
// 	@include fadeInUp($delay: $delay * 3);
// }
// 		&:nth-of-type(4) {
// 	@include fadeInUp($delay: $delay * 4);
// }
	}
	&:hover img:not(:hover) {
		@include opacity(20);
	}
}

