@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Light, 
	$weight: normal, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Regular, 
	$weight: bold, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

body {
	padding: $gap6;
	font-family: Space Grotesk;
}

.row.grid {
	padding: $gap2 0;
	grid-gap: 0;

}
header.header {
	h1, h2, h3, h4, h5 {
		padding: 0;
		margin: 0;

	}

	padding-bottom: $gap3;

}
.links {
	padding: 0;
	& > * {
		padding-left: $gap;
		padding-right: $gap;
	}
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}
h1, h2, h3, h4, h5, p {
	margin-bottom: $gap;
}

.wow {
	@include fadeInUp;
}
.links {
	@include reset(margin);
	@include reset(list);

}

	// header:not(.header), div:not(.links) {
	// 	a {
	// 	text-decoration: underline !important;
	// }
	// }

	.post {
		display: block;
		overflow: hidden;
		p {
			margin: 0;
			&.description {
				height: 1px;
				overflow: hidden;
				@include transition;
			}
		}
		&:hover {
			p {
				&.description {
					height: 30px;
					overflow: none;
				}
			}
		}

	}



	del {
		color: #999;
		font-size: 80%;
		text-decoration: none !important;
		&:before {
			content: "done";
			background-color: #999;
			color: white;
			padding: 3px 7px;
			font-size: 10px;
			margin-right: 5px;
			@include radius(2px);
		}
	}



	a {
		color: black;
		background-color: rgba(yellow, .3);
		@include transition;

		&:hover {
			color: black;
			text-decoration: none;
			background-color: rgba(orange, .4);
		}
		.links & {
			background: none !important;
		.title {
			@include transition;
			background-color: rgba(yellow, .3);
			display: inline;
		}
		&:hover {
			background: none !important;
			.title {
				background-color: rgba(orange, .4);
				
			}
		}
		}
	}


	img {
		width: 100%;
	}

	table {

		width: 100%;
		margin: $gap3 0;
		img {
			width: 200px;
		}
		tr {
			border-bottom: solid 1px #ccc;
			&:first-of-type {
				border-top: solid 1px #ccc;
			}
		}
		td, th {
			padding: $gap2 $gap;
		}
	}